.chapterContainer {
    border-bottom: 2px solid #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    padding: 10px;
    cursor: pointer;
}

.chapterContainer:hover {
    background-color: #f2f2f2;
}

.chapterNumberAndNameContainer {
    display: flex;
    flex-direction: row;
}

.chapterNumber {
    font-weight: bold;
    font-size: 36px;
    margin-right: 15px;
}

.chapterName {
    font-weight: bold;
    font-size: 36px;
    margin-right: 15px;
}

.chapterWriteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapterDescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
