.modalHeader {
    background-color: #2f95dc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 97% !important;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 32px;
}

.modalHeader {
    width: 60%;
}

.modalIconContainer {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2%;
}

.modalCloseIcon {
    color: white;
    cursor: pointer;
}

.modalContent {
    padding: 10px;
}

.button {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #2f95dc;
    color: white;
}

.hover:hover {
    filter: brightness(70%);
}

.button:hover {
    filter: brightness(90%);
}

.button:active {
    filter: brightness(70%);
}

.inputAndLabelContainer {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.inputLabel {
    width: 50%;
    font-size: 28px;
    font-weight: bold;
}

.input {
    width: 50%;
    font-size: 20px;
    padding: 5px;
    height: 45px;
    border: 2px solid;
    border-radius: 4px;
    border-color: #CCCCCC;
}

.view {
    /* background-color: #CCCCCC; */
    background-color: white;
    height: 100% !important;
    margin-right: 7px;
    margin-top: 7px;
    padding: 10px;
    overflow-y: scroll;
}

.icon {
    color: #2f95dc;
    cursor: pointer;
}

.icon:hover {
    filter: brightness(90%);
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}