.confirmation {
    z-index: 10;
    background-color: #2f95dc;
    position: absolute;
    top: 0;
    width: 98%;
    padding-left: 2%;
    padding-right: 2%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.confirmationActionContainer {
    width: 70%;
    font-weight: bold;
    color: white;
    font-size: 36px;
}

.confirmationButtonContainer {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confirmationYesButton {
    background-color: #4CAF4F !important;
    width: 200px;
}

.confirmationNoButton {
    background-color: #EB5C52 !important;
    width: 200px;
}

