.confirmation {
    z-index: 10;
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
}

.confirmationActionContainer {
    width: 50%;
    font-weight: bold;
    font-size: 36px;
}

.confirmationButtonContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confirmationYesButton {
    background-color: #4CAF4F !important;
    width: 100px;
}

.confirmationNoButton {
    background-color: #EB5C52 !important;
    width: 100px;
}

