.createEntityButton {
    background-color: #2f95dc;
}

.deleteEntityButton {
    background-color: #EB5C52 !important;
    margin-top: 10px;
}

.noImage {
    font-size: 28px;
    font-weight: bold;    
}

.entityImageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.entityImage {
    width: 175px;
    height: 175px;
    border-width: 2px;
    border: solid #CCCCCC;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: 2px solid;
    border-radius: 4px;
    border-color: #CCCCCC;
    height: 100px;
    resize: none;
}
