.resetPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotPassword {
    font-size: 28px;
    font-weight: bold;
}

.resetPassword {
    background-color: white;
    border-radius: 8px;
    width: 400px;
    height: 150px;
    padding: 10px;
    margin-bottom: 200px;
}

.resetPasswordInputContainer {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.resetPasswordLabel {
    width: 40%;
    font-size: 28px;
    font-weight: bold;
}

.resetPasswordInput {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    height: 45px;
    border: 2px solid;
    border-radius: 4px;
    border-color: #CCCCCC;
}

.resetPasswordButton {
    width: 80%;
    margin-left: 10%;
    background-color: #2f95dc;
}