html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: none;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

.application {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}