.settingsContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settingsLogo {
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}

.settings {
    width: 500px;
    height: 500px;
}

.settingsButton {
    margin-bottom: 25px;
}
