.storiesList {
    background-color: white;
    float: left;
    overflow-y: scroll;
    width: 500px;
    height: 100%;
}

.hiddenStoriesList {
    width: 37px;
    float: left;
    height: 100%;
    padding-left: 5px;
    padding-top: 10px;
    background-color: white;
}

.storiesListLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.storiesListIcon {
    color: #2f95dc;
    cursor: pointer;
}

.storiesListIcon:hover {
    filter: brightness(70%);
}

.storiesListClosed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 5px;
    background-color: #CCCCCC;
}

.storiesListLabelText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 30px;
    color: #2f95dc;
    font-weight: bold;
}